@page
@model Bolao.UI.Pages.Account.SignupModel
@{
    ViewData["Title"] = "Signup";
}

<h2>Criar minha conta</h2>

<fieldset>
    <legend>Formulário</legend>

    <div class="input-group col-md-6">
        <label>Nome:</label>
        <input type="text" class="form-control" aria-describedby="basic-addon1" id="txt-firstname">
    </div>

    <br />

    <div class="input-group col-md-6">
        <label>Sobrenome:</label>
        <input type="text" class="form-control" aria-describedby="basic-addon1" id="txt-lastname">
    </div>

    <br />

    <div class="input-group col-md-6">
        <label>E-mail:</label>
        <input type="text" class="form-control" aria-describedby="basic-addon1" id="txt-email">
    </div>

    <br />

    <div class="input-group col-md-8">
        <label>Senha:</label>
        <input type="password" class="form-control" aria-describedby="basic-addon1" id="txt-password">
    </div>

    <br />
</fieldset>

<button id="btn-signup" class="btn btn-success">Cadastrar</button>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            var dados = {
                "FirstName": $("#txt-firstname").val(),
                "LastName": $("#txt-lastname").val(),
                "Email": $("#txt-email").val(),
                "Password": $("#txt-password").val()
            };

            $("#btn-signup").on("click", function () {
                $.ajax(path + 'account/signup',
                    {
                        dataType: 'json',
                        data: JSON.stringify(dados),
                        method: "POST",
                        success: function (data, status, xhr) {   // success callback function
                            $('p').append(data.firstName + ' ' + data.middleName + ' ' + data.lastName);
                        },
                        error: function (jqXhr, textStatus, errorMessage) { // error callback
                            $('p').append('Error: ' + errorMessage);
                        }
                    });
            });
        });
    </script>
}